/**
 * ThemePile Buttons
 */
.btn {
  display: inline-block;
  padding: 0 20px;
  border: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  vertical-align: middle;
  color: #fff;
  cursor: pointer;
  background: #de443a;
  height: 60px;
  border-radius: 0;
  position: relative;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:HOVER {
  text-decoration: none;
  background: #f37b78;
  color: #fff;
}

.btn:FOCUS {
  outline: thin dotted #333333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:ACTIVE {
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn--lg {
  font-size: 18px;
  height: 66px;
  line-height: 66px;
  padding: 0 70px;
  margin: 0 0 45px;
}

.btn--sm {
  font-size: 14px;
  font-weight: 400;
  height: 32px;
  line-height: 32px;
  padding: 0 15px;
  text-transform: capitalize;
}

.btn--black {
  background: #0e0f11;
  border: 1px solid #fff;
  line-height: 48px;
  height: 48px;
  text-transform: none;
  font-size: 16px;
}

.btn--black:hover {
  background: #393b3f;
}

.btn--white {
  background: #fff;
  border: 1px solid #e2e2e2;
  color: #555;
  text-transform: none;
  font-weight: 300;
}

.btn--white:hover {
  background: #f8f8f8;
}

.btn--green {
  background: #42ba6c;
}

.btn--green:hover {
  background: #5bcc83;
}